<ion-view title="Home" >
    <ion-side-menus>
             <ion-side-menu-content>
     <ion-header-bar class="bar-balanced">
        <h1 class="title">Travel Guide</h1>
<!--        <button class="button button-clear button-positive" ng-click="redirectToRegistration()">Register</button>   -->
        </ion-header-bar>
    <ion-content>
        
        <div id="div_Home_Container" ng-controller="homeCtrlr">
            

<div class="row">
            <div class="col">
    <img src="img/accomodation.png" class="image_icon">
    </div>
    <div class="col" >
    <img src="img/currency_conversion.png" class="image_icon">
        
    </div>
        <div class="col">
    <img src="img/checklist.jpg" class="image_icon" ng-click="openTasksToDo()">
    </div>    
            </div>
            <div class="row">
            <div class="col" >
                <img src="img/points_of_interest.jpg" class="image_icon">
                
                </div>
                <div class="col">
                <img src="img/translate.jpg" class="image_icon">
                </div>
                <div class="col">
                <img src="img/weather_forecast.jpg" class="image_icon"
                </div>
            </div>
                        </div>
            <div class="row">
            <button class="button button-energized button-block" ng-click="userLogout()">Logout</button>
            </div>
            
    </ion-content>
        </ion-side-menu-content>
    </ion-side-menus>
</ion-view>