<ion-header-bar class="bar-positive">
   <h1 class="title">Sign Up</h1>
</ion-header-bar>
<ion-content class="has-header padding">
   <div class="list">
      <label class="item item-input">
      
      <input type="text" placeholder="Username" ng-model="username">
      </label>
      <label class="item item-input">
      
      <input type="text" placeholder="Email" ng-model="email">
      </label>
      <label class="item item-input">
      
      <input type="password" placeholder="Password" ng-model="password">
      </label>
      <label class="item item-input">
      <button class="button button-block button-positive" ng-click="updateUser(name,email,password)">
      Update 
      </button>
      </label>
   </div>
</ion-content>