body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:90px;
  top:70px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:446px;
}
#u1_input {
  position:absolute;
  left:0px;
  top:0px;
  width:716px;
  height:446px;
}
#u2 {
  position:absolute;
  left:310px;
  top:160px;
  width:467px;
  height:20px;
}
#u2_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:473px;
  height:26px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:25px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:87px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:91px;
  top:0px;
  width:94px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:185px;
  top:0px;
  width:94px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:279px;
  top:0px;
  width:94px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:373px;
  top:0px;
  width:94px;
  height:20px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
}
#u13 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:154px;
  top:224px;
  width:136px;
  height:16px;
  font-family:'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:154px;
  top:250px;
  width:76px;
  height:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:200px;
  top:250px;
  width:70px;
  height:22px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u18_input:disabled {
  color:grayText;
}
#u19 {
  position:absolute;
  left:154px;
  top:300px;
}
#u19_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u19_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:150px;
}
#u21 {
  position:absolute;
  left:2px;
  top:67px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:179px;
  top:320px;
  width:306px;
  height:20px;
}
#u22_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:312px;
  height:26px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:25px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:20px;
}
#u25 {
  position:absolute;
  left:2px;
  top:2px;
  width:89px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:93px;
  top:0px;
  width:107px;
  height:20px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:20px;
}
#u27 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:200px;
  top:0px;
  width:106px;
  height:20px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:20px;
}
#u29 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:570px;
  top:249px;
}
#u30_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:135px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:135px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32 {
  position:absolute;
  left:570px;
  top:224px;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u34 {
  position:absolute;
  left:570px;
  top:255px;
  width:60px;
  height:17px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:17px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:570px;
  top:272px;
  width:180px;
  height:10px;
}
#u36_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_end {
  position:absolute;
  left:163px;
  top:-5px;
  width:18px;
  height:20px;
}
#u36_line {
  position:absolute;
  left:0px;
  top:5px;
  width:180px;
  height:1px;
}
#u37 {
  position:absolute;
  left:179px;
  top:340px;
}
#u37_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u37_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:100px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:100px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u39 {
  position:absolute;
  left:270px;
  top:340px;
}
#u39_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u39_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
}
#u40_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:100px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u41 {
  position:absolute;
  left:380px;
  top:340px;
}
#u41_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u41_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:100px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:100px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u43 {
  position:absolute;
  left:116px;
  top:95px;
  width:151px;
  height:45px;
  font-family:'Harlow Solid SemiExpanded Italic', 'Harlow Solid';
  font-weight:400;
  font-style:italic;
  font-size:36px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:45px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  white-space:nowrap;
}
#u45 {
  position:absolute;
  left:615px;
  top:255px;
  width:15px;
  height:17px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u46 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
